<div class="card main-card" >
  <%= image_tag 'coffee.svg', class: 'image-card' %>
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= image_tag 'farmer.svg', class: 'image-text' %><p class="title-text-card">Productor:</p> name</p>
    <p class="card-text"><i class="fas fa-map-marker-alt image-text"></i><p class="title-text-card">Lugar:</p> Ciudad</p>
    <p class="card-text"><i class="fas fa-balance-scale image-text"></i><p class="title-text-card">Toneladas:</p> 00000 (ton)</p>
    <div class="btn-cont">
      <a href="#" class="btn btn-primary btn-purple">Comprar</a>
    </div>
  </div>
</div>
