<div class="container-fluid">
  <!-- row productos a punto de caducar -->
  <div class="row">
    <div class="div col-10 red-products">
      <i class="fas fa-piggy-bank icon-title-red"></i><h3 class="red-title">URGENT</h3>
    </div>
    <% @urgent_products.each do |product| %>
      <div class="div col-4">
        <%= render "main-card", product: product %>
      </div>
    <% end %>
  </div>

<!-- row productos a uen tiempo-->
<div class="row">
  <div class="div col-10 green-products">
    <i class="fas fa-piggy-bank icon-title-green"></i><h3 class="green-title">Otros productos</h3>
  </div>
  <% @all_products.each do |product| %>
    <div class="div col-4">
      <%= render "main-card", product: product %>
    </div>
  <% end %>
</div>
</div>
