<div class="container-fluid">
  <div class="row">
    <div class="col-12 banner">
    </div>
  </div>
  <!-- row productos a punto de caducar -->
  <div class="row">
    <div class="div col-10 red-products">
      <i class="fas fa-clock icon-title-red"></i><h3 class="red-title">URGENTE</h3>
    </div>
    <% @urgent_wastes.each do |waste| %>
      <div class="div col-4">
        <%= render "main-card", waste: waste %>
      </div>
    <% end %>
  </div>

<!-- row productos a uen tiempo-->
<div class="row">
  <div class="div col-10 green-products">
    <i class="fas fa-piggy-bank icon-title-green"></i><h3 class="green-title">Otros productos</h3>
  </div>
  <% @all_wastes.each do |waste| %>
    <div class="div col-4">
      <%= render "main-card", waste: waste %>
    </div>
  <% end %>
</div>
</div>
